# Enjin Teras Runner (Muat Turun, B2 & Redis)
httpx>=0.28.1
rich>=15.0.0
python-dotenv>=1.2.3
pydantic>=2.13.5

# Integrasi Kawalan aria2c di Runner
aria2p>=0.12.1

# Pustaka Sandaran Pemprosesan & Rangkaian Pantas
curl-cffi>=0.16.3
beautifulsoup4>=4.15.0
tenacity>=9.1.4
