# Enjin Asas & API Pelayan Tempatan
httpx>=0.28.1
rich>=15.0.0
python-dotenv>=1.2.3
pydantic>=2.13.5
pydantic-settings>=2.5.0
fastapi>=0.141.1
uvicorn>=0.53.0

# Perkakas Pengendali & Kawalan aria2c Python
aria2p>=0.12.1

# Pustaka Sandaran Web Scraping & Resolusi Selamat
curl-cffi>=0.16.3
beautifulsoup4>=4.15.0
camoufox[geoip]>=0.5.6
DrissionPage>=4.1.1.4
pandas>=3.0.5
tenacity>=9.1.4