# Enjin Teras Runner (Muat Turun, B2 & Redis)
httpx>=0.28.1
rich>=13.9.4
python-dotenv>=1.2.3
pydantic>=2.13.5

# Integrasi Kawalan aria2c di Runner
aria2p>=0.12.0

# Pustaka Sandaran Pemprosesan & Rangkaian Pantas
curl-cffi>=0.7.0
beautifulsoup4>=4.12.0
tenacity>=9.0.0